@import "../../vars.css";

.container {
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 49px;
  z-index: 1;
  margin-right: 10%;
}



a{
    
    display: flex;
    justify-content: center;
}

.icone{
    width: 80px;
    height: 80px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre o ícone e o texto */
    text-decoration: none;
    color: inherit;
}

.label {
    font-size: 16px;
}